.AddNewMessage {
    display: flex;
    flex-direction: column;

    input {
        margin-bottom: 15px;
        width: 100%;
        border: 1px solid #CFD8DC;;
        padding: 15px;
    }

    &__btn {
        margin-top: 20px;
        border: none !important;
        background: #2962FF ;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    }

}