.SearchContact {

    input {
        margin-bottom: 15px;        margin-bottom: 15px;
        width: 100%;
        border: 1px solid #ECEFF1;;
        padding: 15px;
        font-size: 14px;
        border: 1px solid #ECEFF1;;
        padding: 15px;
        font-size: 14px;
    }
}