.ContactList {

    li {
        list-style: none;
        background: #fff;
        border: 1px solid #CFD8DC;;
        padding: 20px;
        position: relative;
        margin-bottom: 15px;
    }

    button {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 20px;
        cursor: pointer;
        background: transparent;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: #000;
        color: #fff;

    }
}